# IDE
.idea/
*.iml
.vscode/

# Maven
target/
*.jar
*.war
*.class

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Node (for frontend)
node_modules/
dist/

# Uploads
uploads/

# Nacos
logs/
frontend/sessionStore/
